pymongo
pymongo[srv]
dnspython
pandas
numpy
ensure
pytest

-e.

pytest ==7.1.3 #for testing in developer side 
tox==3.25.1 #creating testing environment
black ==22.8.0 # Auto-formats code to a consistent style.
flake8=5.0.4 #(Linter): Highlights coding issues (unused imports, bad practices).
mypy==0.971 #Ensures correct variable types and function signatures.